body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  /* color: #595959; */
  color: #FFFFFF;
}

a{
  /* color: #fdbc5e; */
  color: #4C4C6D;
  text-decoration: none
}

a:hover {
  font-weight: 800;
}

.center {
  text-align: center;
}

.overflow-scroll {
  overflow-y: scroll;
  height: calc(100vh - 12vh);
  scroll-behavior: smooth;
}

/* ===================Main=================== */
.main {
  height: calc(100vh - 12vh);
  background-color: #FFFFFF;
  /* background-color: #800f2f; */
  color: #4C4C6D;
  /* background-color: #FFE194; */
  padding: 0 7vw;
}

.main-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-content: center
}

.headshot-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 20vw;
  border-radius: 50%;
}

.main p {
  margin-bottom: 50px;
}

.scroll-to-projects-button {
  font-size: 28px;
  margin: 20px auto;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 16px 2px 12px;
}


/* ==============Projects====================== */

#projects{
  background-color: #FFFFFF;
  /* background-color: #002642; */
  color: #4C4C6D;
  padding: 25px  3vw 40px;
  text-align: center;
}

.projects-first-row-fullwidth{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 100px;
  margin-bottom: 120px;
}

.projects-first-row-1000px, .projects-first-row-630px{
  display: none;
}

.projects-second-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 50px;
}

.extra-line-between {
  display: none;
}

#projects  img {
  width: 30vw;
  margin-bottom: 20px;
}

#projects p {
  margin: 3px auto;
  max-width: 25vw;
}


#projects img:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px #777777;
}

.scroll-to-top-button {
  font-size: 28px;
  margin: 20px auto;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 16px 2px 12px;
}


/* ==============Contact (footer)================ */

#contact{
  /* background: #f8f9fa; */
  background-color: #c59292;
  /* background-color: #e59500; */
  /* background-color: #4C4C6D; */
  height: 12vh;
  color: #4C4C6D;
}

.link i.fab, .link i.far{
  width: 60px;
  height: 48px;
  /* background-color:#f3f0ff; */
  background-color: #ffffff;
  border-radius: 50%;
  padding-top: 12px;
  margin: 10px 10px;
  font-size: 40px;
}

.link a {
  color: #909090;
}

.link a:hover{
  color: #fdbc5e;
  transition: 0.3s;
  font-weight: 500;
}

#contact  p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ==================Responsive================= */

@media all and (max-width: 1000px){
  .projects-first-row-1000px{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .projects-first-row-fullwidth{
    display: none;
  }

  .projects-first-row-1000px h3{
    font-size: 40px;
  }

  #projects  img {
    width: 41vw;
    margin-bottom: 4px;
  }
}

@media all and (max-width: 850px){
  .projects-first-row-1000px h3{
    font-size: 30px;
    margin-top: 0px;
  }

  #projects p {
    margin: 3px auto;
    max-width: 35vw;
  }
}

@media all and (max-width: 700px){
  .extra-line-between {
    display: none;
  }
}

@media all and (max-width: 650px){

  .main-columns {
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: center;
  }

  .main img {
    width: 30vw;
  }

  .main h1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
 
  .link i.fab, .link i.far{
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 7px 7px 12px;
    font-size: 20px;
  }

  #contact p {
    font-size: 12px;
  }

  .main p {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 630px){
  .projects-first-row-630px {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: center;
  }

  .projects-first-row-1000px{
    display: none;
  }

  .projects-second-row{
    grid-template-columns: 1fr;
    gap: 0px;
    text-align: center;
  }

  .extra-line-between {
    display: block;
  }

  #projects p {
    margin: 3px auto;
    max-width: 80vw;
  }
}



